[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/Zarel/Pokemon-Showdown"]
	path = vendor/github.com/Zarel/Pokemon-Showdown
	url = https://github.com/Zarel/Pokemon-Showdown
